.we-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  display: block;
  background-color: var(--whiteColor);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.08);
  min-width: 380px;
  width: 100%;

  .we-header-primary {
    position: sticky;
    z-index: 2;
    top: 0;
    padding: 25px 25px 5px;

    @media only screen and (max-width: 768px) {
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.08);
      padding: 22px 25px;
      border-bottom: 1px solid #E0E0E0;
    }

    .we-container {
      .we-row {
        justify-content: space-between;
        align-items: center;
        gap: 0 20px;

        .we-main-logo-link {
          display: block;
          max-width: 262px;
          min-width: 262px;
          width: 100%;
          height: 60px;

          .we-main-logo-img {
            display: block;
            width: 100%;
          }

          .we-svg {
            display: block;
            width: 100%;
            height: auto;

            .we-svg-icon-walker-engineering-enterprise {
              
            }

            .we-svg-arisep-engineering-enterprise {
              
            }
          }
        }

        .we-search-wrap {
          position: relative;
          max-width: 550px;
          width: 100%;
          height: auto;

          @media only screen and (max-width: 768px) {
            display: none;
          }

          .we-search-bar {
            position: relative;
            width: 100%;
            height: 50px;

            .we-search-input {
              font-family: var(--primaryFontFamily);
              font-style: normal;
              font-size: 14px;
              font-weight: 600;
              display: block;
              background-color: #F6F6F6;
              width: 100%;
              height: 100%;
              padding: 12px 70px 12px 20px;
              border: 2px solid #EBEBEB;

              &::placeholder {
                font-family: var(--secondaryFontFamily);
                font-size: 12px;
                font-weight: 500;
                font-style: italic;
              }
            }

            .we-svg-icon-search {
              position: absolute;
              top: 50%;
              right: 20px;
              transform: translateY(-50%);
              display: block;
              cursor: pointer;
            }
          }

          .we-search-results {
            position: absolute;
            z-index: 9;
            top: 50px;
            display: block;
            background-color: var(--whiteColor);
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.08);
            width: 100%;
            max-height: 250px;
            min-height: 120px;
            height: auto;
            overflow: auto;
            padding: 11px 13px;

            .we-search-results-count {
              color: #A7A7A7;
              font-family: var(--tertiaryFontFamily);
              font-style: normal;
              font-weight: 700;
              font-size: 12px;
              line-height: 1.3em;
              display: block;
              min-width: 420px;
              width: 100%;
              margin: 0 0 10px;
            }

            .we-search-results-list {
              min-width: 420px;
              width: 100%;
              
              .we-search-results-item {
                background-color: var(--whiteColor);
                padding: 10px 15px;
                cursor: pointer;

                .we-row {
                  justify-content: space-between;
                  align-items: center;

                  .we-col {
                    width: max-content;

                    &:nth-child(1) {
                      .we-inner-row {
                        justify-content: flex-start;
                        align-items: center;
                        gap: 0 18px;

                        .we-inner-col {
                          &:nth-child(1) {
                            max-width: 65px;
                            min-width: 65px;
                            overflow: hidden;

                            .product-img {
                              display: block;
                              object-fit: cover;
                              object-position: center;
                              // max-width: 65px;
                              // min-width: 65px;
                              // width: 100%;
                              // width: auto;
                              height: 50px;
                              margin: 0 auto;
                            }

                            .we-svg-placeholder-img {
                              width: 100%;
                              height: 100%;
                            }
                          }

                          &:nth-child(2) {
                            max-width: 265px;
                            min-width: 100px;
                            width: 100%;

                            .product-discount {
                              color: var(--whiteColor);
                              font-family: var(--secondaryFontFamily);
                              font-style: normal;
                              font-weight: 700;
                              font-size: 8px;
                              letter-spacing: -0.01em;
                              line-height: 1em;
                              display: block;
                              background-color: #00529F;
                              width: max-content;
                              margin: 0 0 5px;
                              padding: 4px 7px;
                            }

                            .product-name {
                              color: #1B1B1B;
                              font-family: var(--secondaryFontFamily);
                              font-style: normal;
                              font-weight: 900;
                              font-size: 12px;
                              font-feature-settings: 'calt' off;
                              letter-spacing: -0.01em;
                              line-height: 1.25em;
                              width: 100%;
                              margin: 0 0 5px;
                            }

                            .product-type {
                              color: #4C5157;
                              font-family: var(--primaryFontFamily);
                              font-style: normal;
                              font-weight: 600;
                              font-size: 10px;
                              font-feature-settings: 'calt' off;
                              letter-spacing: -0.01em;
                              line-height: 1.5em;
                            }

                            .product-rating {
                              display: flex;
                              justify-content: flex-start;
                              align-items: center;

                              .we-svg-icon-rating {
                                display: block;
                                margin: 0 5px 0 0;
                              }

                              .product-rating-value,
                              .product-reviews-count {
                                color: #4C5157;
                                font-family: var(--primaryFontFamily);
                                font-style: normal;
                                font-weight: 600;
                                font-size: 10px;
                                font-feature-settings: 'calt' off;
                                letter-spacing: -0.01em;
                                line-height: 1.5em;
                              }

                              .product-reviews-count {
                                margin: 0 0 0 3px;
                              }
                            }
                          }
                        }
                      }
                    }

                    &:nth-child(2) {
                      .we-inner-row {
                        align-items: center;

                        .product-current-price {
                          color: #00529F;
                          font-family: var(--secondaryFontFamily);
                          font-style: normal;
                          font-weight: 900;
                          font-size: 16px;
                          font-feature-settings: 'calt' off;
                          letter-spacing: -0.01em;
                          line-height: 1em;
                        }

                        .product-before-price {
                          color: rgba(76, 81, 87, 0.6);
                          font-family: var(--secondaryFontFamily);
                          font-style: normal;
                          font-weight: 500;
                          font-size: 12px;
                          font-feature-settings: 'calt' off;
                          text-decoration-line: line-through;
                          letter-spacing: -0.01em;
                          line-height: 0.8em;
                          margin: 0 13px 0 5px;
                        }

                        .we-btn--add-to-cart {
                          display: block;

                          .we-svg-icon-cart {
                            display: block;
                          }
                        }
                      }
                    }
                  }
                }

                &:hover {
                  background-color: #F2F2F2;
                }
              }
            }
          }
        }

        .we-contact-number-link {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          align-items: center;
          gap: 5px;
          max-width: 150px;
          width: 100%;

          @media only screen and (max-width: 768px) {
            display: none;
          }

          .we-svg-icon-phone {
            display: inline-block;
            vertical-align: middle;
          }

          .we-contact-label {
            color: #1E1E1E;
            font-family: var(--primaryFontFamily);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            text-align: right;
            letter-spacing: -0.02em;
            line-height: 1.05em;
            display: inline-block;
            vertical-align: middle;
          }

          .we-contact-number {
            color: #00529F;
            font-family: var(--primaryFontFamily);
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: right;
            letter-spacing: -0.02em;
            line-height: 85%;
            width: max-content;
            transition:
              color var(--hoverTransitionDuration) ease-in-out 0ms;
          }

          &:hover {
            .we-contact-number {
              color: var(--secondaryColor);
            }
          }
        }

        .we-account-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          // margin: 0 0 0 15px;
          padding: 0 0 0 15px;
          border-left: 1px dashed #86736A;

          @media only screen and (max-width: 768px) {
            display: none;
          }

          .we-btn--profile {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            cursor: pointer;

            .we-svg-icon-profile {
              display: block;

              path {
                transition:
                  fill var(--hoverTransitionDuration) ease-in-out 0ms;
              }
            }

            &:hover {
              .we-svg-icon-profile {
                path {
                  fill: var(--secondaryColor);
                }
              }
            }
          }

          .we-btn--cart {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            cursor: pointer;

            .we-svg-icon-cart {
              display: block;

              path {
                transition:
                  fill var(--hoverTransitionDuration) ease-in-out 0ms;
              }
            }

            &:hover {
              .we-svg-icon-cart {
                path {
                  fill: var(--secondaryColor);
                }
              }
            }
          }
        }

        .we-hamburger-btn {
          position: relative;
          display: none;
          max-width: 25px;
          min-width: 25px;
          width: 100%;
          height: 20px;

          @media only screen and (max-width: 768px) {
            display: block;
          }

          span {
            position: absolute;
            left: 0;
            display: block;
            background-color: var(--blackColor);
            width: 100%;
            height: 3px;
            transition:
              top var(--clickTransitionDuration) ease-in-out 0ms,
              left var(--clickTransitionDuration) ease-in-out 0ms,
              right var(--clickTransitionDuration) ease-in-out 0ms,
              bottom var(--clickTransitionDuration) ease-in-out 0ms,
              transform var(--clickTransitionDuration) ease-in-out 0ms,
              opacity var(--clickTransitionDuration) ease-in-out 0ms;

            &:nth-child(1) {
              top: 0;
            }

            &:nth-child(2) {
              top: 50%;
              transform: translateY(-50%);
            }

            &:nth-child(3) {
              bottom: 0;
            }
          }

          &.--active {
            span {
              &:nth-child(1) {
                top: 8px;
                transform: rotate(45deg);
              }
  
              &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
                opacity: 0;
              }
  
              &:nth-child(3) {
                bottom: 9px;
                transform: rotate(-45deg);
              }
            }
          }
        }
      }
    }
  }

  .we-header-secondary {
    position: relative;
    z-index: 1;

    .we-nav-main-menu-wrap {
      padding: 5px 25px 10px;

      @media only screen and (max-width: 768px) {
        display: none;
      }

      .we-container {
        .we-row {
          justify-content: space-between;
          align-items: center;
          gap: 15px;

          @media only screen and (max-width: 1200px) {
            flex-direction: column;
            justify-content: center;
          }

          .we-nav01-list {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0 25px;

            .we-nav-menu-item-lvl1 {
              position: relative;
              width: max-content;
              cursor: pointer;

              .we-nav-menu-item-lvl1-link {
                --textColor: #09244F;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0 8px;
                padding: 12px 0;

                .we-nav-menu-item-lvl1-label {
                  color: var(--textColor);
                  font-family: var(--primaryFontFamily);
                  font-style: normal;
                  font-weight: 800;
                  font-size: 16px;
                  font-feature-settings: 'calt' off;
                  text-transform: uppercase;
                  text-align: center;
                  line-height: 1.5em;
                  letter-spacing: -0.01em;
                  transition:
                    color var(--hoverTransitionDuration) ease-in-out 0ms;
                }

                .we-nav-menu-item-lvl1-icon {
                  display: block;
                  rotate: 0deg;
                  transition:
                    rotate var(--clickTransitionDuration) ease-in-out 0ms;

                  path {
                    fill: var(--textColor);
                    transition:
                      fill var(--hoverTransitionDuration) ease-in-out 0ms;
                  }
                }
              }

              &.--active,
              &:hover {
                .we-nav-menu-item-lvl1-link {
                  --textColor: #F2234B;
                }
              }

              &.--active {
                .we-nav-menu-item-lvl1-link {
                  .we-nav-menu-item-lvl1-icon {
                    rotate: 180deg;
                  }
                }
              }
            }
          }

          .we-nav02-list {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            gap: 0 10px;

            .we-nav-item-link {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              opacity: 1;
              padding: 11px 17px;
              border-radius: 2px;
              cursor: pointer;

              .we-nav-item-label {
                color: var(--whiteColor);
                font-family: var(--secondaryFontFamily);
                font-style: italic;
                font-weight: 700;
                font-size: 12px;
                font-feature-settings: 'calt' off;
                text-align: center;
                letter-spacing: -0.01em;
                line-height: 1.15em;
              }

              &:nth-child(1) {
                background-color: var(--secondaryColor);
                max-width: 50%;
                min-width: 130px;

                &:hover {
                  background-color: var(--secondaryDarkColor);
                }
              }

              &:nth-child(2) {
                background-color: var(--primaryColor);
                max-width: 50%;
                min-width: 160px;

                &:hover {
                  background-color: var(--primaryDarkColor);
                }
              }
            }
          }
        }
      }
    }

    .we-nav-mega-menu-wrap {
      position: absolute;
      left: 0;
      display: none;
      background-color: var(--whiteColor);
      box-shadow: 0 3px 3px #00000014;
      width: 100%;
      height: 0;
      padding: 0 25px;
      border-top: 1px solid #E0E0E0;

      @media only screen and (max-width: 768px) {
        display: none;
      }

      .we-container {
        // padding: 25px 0;

        .we-nav-mega-menu-item {
          padding: 25px 0;

          .we-row {
            justify-content: space-between;
            align-items: flex-start;
            gap: 0 30px;

            .we-col {
              &:nth-child(1) {
                max-width: 240px;

                .we-nav-menu-item-lvl2-list {
                  display: flex;
                  flex-direction: column;

                  .we-nav-menu-item-lvl2-item {
                    .we-nav-menu-item-lvl2-link {
                      --textColor: #1B1B1B;
                      --bgColor: transparent;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      background-color: var(--bgColor);
                      padding: 7px 22px 7px 18px;
                      cursor: pointer;
                      transition:
                        background-color var(--hoverTransitionDuration) ease-in-out 0ms;

                      .we-nav-menu-item-lvl2-title {
                        color: var(--textColor);
                        font-family: var(--secondaryFontFamily);
                        font-style: normal;
                        font-weight: 800;
                        font-size: 16px;
                        font-feature-settings: 'calt' off;
                        line-height: 1.5em;
                        letter-spacing: -0.01em;
                        background-color: transparent;
                        transition:
                          color var(--hoverTransitionDuration) ease-in-out 0ms;
                      }

                      .we-svg-icon-category {
                        display: block;
                        
                        path {
                          fill: var(--textColor);
                          transition:
                            fill var(--hoverTransitionDuration) ease-in-out 0ms;
                        }
                      }

                      &:hover,
                      &.--active-main-category {
                        --textColor: #1B1B1B;
                        --bgColor: #EBEBEB;
                      }
                    }
                  }
                } 
              }

              &:nth-child(2) {
                .we-nav-menu-item-lvl3-list {
                  display: inline-block;
                  column-count: auto;
                  column-width: 200px;
                  column-gap: 15px;
                  height: 190px;

                  .we-nav-menu-item-lvl3-item {
                    width: 200px;

                    .we-nav-menu-item-lvl3-link {
                      --textColor: #1B1B1B;
                      color: var(--textColor);
                      font-family: var(--secondaryFontFamily);
                      font-style: normal;
                      font-weight: 500;
                      font-size: 16px;
                      font-feature-settings: 'calt' off;
                      line-height: 1.25em;
                      letter-spacing: -0.01em;
                      height: 1.25em;
                      overflow: hidden;
                      margin: 0 0 21px;
                    }

                    &:hover {
                      .we-nav-menu-item-lvl3-link {
                        --textColor: #F2234B;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.--show {
        display: block;
        height: 241px;
      }
    }
  }

  .we-nav-mobile-menu {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--whiteColor);
    width: 100%;
    height: calc(100vh - 105px);
    overflow: auto;
    padding: 35px 0 30px;

    .we-search-wrap {
      position: relative;
      width: 100%;
      height: auto;
      margin: 0 auto 30px;
      padding: 0 25px;

      .we-search-bar {
        position: relative;
        width: 100%;
        height: 50px;

        .we-search-input {
          font-family: var(--primaryFontFamily);
          font-style: normal;
          font-size: 14px;
          font-weight: 600;
          display: block;
          background-color: #F6F6F6;
          width: 100%;
          height: 100%;
          padding: 12px 70px 12px 20px;
          border: 2px solid #EBEBEB;

          &::placeholder {
            font-family: var(--secondaryFontFamily);
            font-size: 12px;
            font-weight: 500;
            font-style: italic;
          }
        }

        .we-svg-icon-search {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          cursor: pointer;
        }
      }

      .we-search-results {
        // position: absolute;
        // z-index: 9;
        // top: 50px;
        display: block;
        background-color: var(--whiteColor);
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.08);
        width: 100%;
        max-height: 250px;
        min-height: 120px;
        height: auto;
        overflow: auto;
        padding: 11px 13px;

        .we-search-results-count {
          color: #A7A7A7;
          font-family: var(--tertiaryFontFamily);
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 1.3em;
          display: block;
          margin: 0 0 10px;
        }

        .we-search-results-list {
          .we-search-results-item {
            background-color: var(--whiteColor);
            padding: 10px 15px;
            cursor: pointer;

            .we-row {
              justify-content: space-between;
              align-items: center;

              .we-col {
                width: max-content;

                &:nth-child(1) {
                  .we-inner-row {
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0 18px;

                    .we-inner-col {
                      &:nth-child(1) {
                        max-width: 65px;
                        min-width: 65px;
                        overflow: hidden;

                        .product-img {
                          display: block;
                          object-fit: cover;
                          object-position: center;
                          // max-width: 65px;
                          // min-width: 65px;
                          // width: 100%;
                          // width: auto;
                          height: 50px;
                          margin: 0 auto;
                        }

                        .we-svg-placeholder-img {
                          width: 100%;
                          height: 100%;
                        }
                      }

                      &:nth-child(2) {
                        max-width: 265px;
                        min-width: 100px;
                        width: 100%;

                        .product-discount {
                          color: var(--whiteColor);
                          font-family: var(--secondaryFontFamily);
                          font-style: normal;
                          font-weight: 700;
                          font-size: 8px;
                          letter-spacing: -0.01em;
                          line-height: 1em;
                          display: block;
                          background-color: #00529F;
                          width: max-content;
                          margin: 0 0 5px;
                          padding: 4px 7px;
                        }

                        .product-name {
                          color: #1B1B1B;
                          font-family: var(--secondaryFontFamily);
                          font-style: normal;
                          font-weight: 900;
                          font-size: 12px;
                          font-feature-settings: 'calt' off;
                          letter-spacing: -0.01em;
                          line-height: 1.25em;
                          width: 100%;
                          margin: 0 0 5px;
                        }

                        .product-rating {
                          display: flex;
                          justify-content: flex-start;
                          align-items: center;

                          .we-svg-icon-rating {
                            display: block;
                            margin: 0 5px 0 0;
                          }

                          .product-rating-value,
                          .product-reviews-count {
                            color: #4C5157;
                            font-family: var(--primaryFontFamily);
                            font-style: normal;
                            font-weight: 600;
                            font-size: 10px;
                            font-feature-settings: 'calt' off;
                            letter-spacing: -0.01em;
                            line-height: 1.5em;
                          }

                          .product-reviews-count {
                            margin: 0 0 0 3px;
                          }
                        }
                      }
                    }
                  }
                }

                &:nth-child(2) {
                  .we-inner-row {
                    align-items: center;

                    .product-current-price {
                      color: #00529F;
                      font-family: var(--secondaryFontFamily);
                      font-style: normal;
                      font-weight: 900;
                      font-size: 16px;
                      font-feature-settings: 'calt' off;
                      letter-spacing: -0.01em;
                      line-height: 1em;
                    }

                    .product-before-price {
                      color: rgba(76, 81, 87, 0.6);
                      font-family: var(--secondaryFontFamily);
                      font-style: normal;
                      font-weight: 500;
                      font-size: 12px;
                      font-feature-settings: 'calt' off;
                      text-decoration-line: line-through;
                      letter-spacing: -0.01em;
                      line-height: 0.8em;
                      margin: 0 13px 0 5px;
                    }

                    .we-btn--add-to-cart {
                      display: block;

                      .we-svg-icon-cart {
                        display: block;
                      }
                    }
                  }
                }
              }
            }

            &:hover {
              background-color: #F2F2F2;
            }
          }
        }
      }
    }

    .we-nav01-list {
      width: 100%;
      margin: 0 auto 25px;

      .we-nav-menu-item-lvl1 {
        .we-nav-menu-item-lvl1-link,
        .we-nav-menu-item-lvl1-wrap {
          --textColor: #09244F;
          --bgColor: transparent;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: var(--bgColor);
          padding: 15px 25px;
          user-select: none;
          cursor: pointer;

          .we-nav-menu-item-lvl1-title {
            color: var(--textColor);
            font-family: var(--primaryFontFamily);
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            font-feature-settings: 'calt' off;
            text-transform: uppercase;
            line-height: 1.5em;
            letter-spacing: -0.01em;
            transition:
              color var(--hoverTransitionDuration) ease-in-out 0ms;
          }

          .we-nav-menu-item-lvl1-icon {
            rotate: 0deg;
            transition:
              rotate var(--hoverTransitionDuration) ease-in-out 0ms;

            path {
              fill: var(--textColor);
            }
          }

          &.--active {
            --textColor: #F2234B;
            --bgColor: #F1F1F1;

            .we-nav-menu-item-lvl1-icon {
              rotate: 180deg;
            }
          }

          &:hover {
            --textColor: #F2234B;
            --bgColor: #F1F1F1;
          }
        }

        .we-nav-menu-item-lvl2-list {
          .we-nav-menu-item-lvl2-item {
            .we-nav-menu-item-lvl2-link,
            .we-nav-menu-item-lvl2-wrap {
              --textColor: #09244F;
              --bgColor: transparent;
              display: flex;
              justify-content: space-between;
              align-items: center;
              background-color: var(--bgColor);
              padding: 15px 25px 15px 50px;
              cursor: pointer;

              .we-nav-menu-item-lvl2-title {
                color: var(--textColor);
                font-family: var(--primaryFontFamily);
                font-style: normal;
                font-weight: 800;
                font-size: 16px;
                font-feature-settings: 'calt' off;
                text-transform: uppercase;
                line-height: 1.5em;
                letter-spacing: -0.01em;
              }

              .we-nav-item-icon {
                rotate: 0deg;
                transition:
                  rotate var(--hoverTransitionDuration) ease-in-out 0ms;
                
                path {
                  fill: var(--textColor);
                }
              }
              
              &.--active {
                --textColor: #F2234B;
                --bgColor: #F1F1F1;
  
                .we-nav-item-icon {
                  rotate: 180deg;
                }
              }
  
              &:hover {
                --textColor: #F2234B;
                --bgColor: #F1F1F1;
              }
            }

            .we-nav-menu-item-lvl3-list {
              .we-nav-menu-item-lvl3-item {
                .we-nav-menu-item-lvl3-link {
                  --textColor: #09244F;
                  --bgColor: transparent;
                  background-color: var(--bgColor);
                  padding: 15px 25px 15px 75px;
                  cursor: pointer;

                  .we-nav-menu-item-lvl3-label {
                    color: var(--textColor);
                    font-family: var(--primaryFontFamily);
                    font-style: normal;
                    font-weight: 800;
                    font-size: 16px;
                    font-feature-settings: 'calt' off;
                    text-transform: uppercase;
                    line-height: 1.5em;
                    letter-spacing: -0.01em;
                  }

                  &:hover {
                    --textColor: #F2234B;
                    --bgColor: #F1F1F1;
                  }
                }
              }
            }
          }
        }
      }
    }

    .we-nav02-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      width: 100%;
      margin: 0 auto 25px;
      padding: 0 25px;

      .we-nav-item-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        opacity: 1;
        padding: 5px 17px;
        border-radius: 2px;
        cursor: pointer;

        .we-nav-item-label {
          color: var(--whiteColor);
          font-family: var(--secondaryFontFamily);
          font-style: italic;
          font-weight: 700;
          font-size: 12px;
          font-feature-settings: 'calt' off;
          text-align: center;
          letter-spacing: -0.01em;
          line-height: 1.15em;
        }
        
        &:nth-child(1) {
          background-color: var(--secondaryColor);
          max-width: 100%;
          min-width: 130px;

          &:hover {
            background-color: var(--secondaryDarkColor);
          }
        }

        &:nth-child(2) {
          background-color: var(--primaryColor);
          max-width: 100%;
          min-width: 160px;

          &:hover {
            background-color: var(--primaryDarkColor);
          }
        }
      }
    }

    .we-nav-bottom {
      display: flex;
      justify-content: flex-end;
      margin: auto 0 0;
      padding: 0 25px;

      .we-contact-number-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        max-width: 150px;
        width: 100%;

        .we-svg-icon-phone {
          display: inline-block;
          vertical-align: middle;
        }

        .we-contact-label {
          color: #1E1E1E;
          font-family: var(--primaryFontFamily);
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          text-align: right;
          letter-spacing: -0.02em;
          line-height: 1.05em;
          display: inline-block;
          vertical-align: middle;
        }

        .we-contact-number {
          color: #00529F;
          font-family: var(--primaryFontFamily);
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          text-align: right;
          letter-spacing: -0.02em;
          line-height: 85%;
          width: max-content;
          transition:
            color var(--hoverTransitionDuration) ease-in-out 0ms;
        }

        &:hover {
          .we-contact-number {
            color: var(--secondaryColor);
          }
        }
      }

      .we-account-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 20px;
        padding: 0 0 0 15px;
        border-left: 1px dashed #86736A;

        .we-btn--profile {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          cursor: pointer;

          .we-svg-icon-profile {
            display: block;

            path {
              transition:
                fill var(--hoverTransitionDuration) ease-in-out 0ms;
            }
          }

          &:hover {
            .we-svg-icon-profile {
              path {
                fill: var(--secondaryColor);
              }
            }
          }
        }

        .we-btn--cart {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          cursor: pointer;

          .we-svg-icon-cart {
            display: block;

            path {
              transition:
                fill var(--hoverTransitionDuration) ease-in-out 0ms;
            }
          }

          &:hover {
            .we-svg-icon-cart {
              path {
                fill: var(--secondaryColor);
              }
            }
          }
        }
      }
    }
  }
}
