.we-header {
  position: sticky;
  z-index: 9999;
  top: 0;
  display: block;
  background-color: var(--whiteColor);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.08);

  .we-header-primary {
    max-width: var(--container);
    width: 100%;
    margin: 0 auto;
    padding: 30px 25px 5px;

    .we-row {
      justify-content: space-between;
      align-items: center;
      gap: 0 20px;

      .we-main-logo-link {
        display: block;
        max-width: 262px;
        width: 100%;
        height: 60px;
        
        background-color: blue;

        .we-main-logo-img {
          display: block;
          width: 100%;
        }
      }

      .we-search-wrap {
        position: relative;
        max-width: 445px;
        width: 100%;
        height: auto;

        .we-search-input {
          font-family: var(--primaryFontFamily);
          font-style: normal;
          font-size: 12px;
          display: block;
          background-color: #F6F6F6;
          width: 100%;
          height: 50px;
          padding: 12px 70px 12px 20px;
          border: 2px solid #EBEBEB;

          &::placeholder {
            font-family: var(--secondaryFontFamily);
            font-style: italic;
          }
        }

        .we-search-icon {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          cursor: pointer;
        }

        .we-search-svg {

        }
      }

      .we-sub-logo-link {
        display: block;
        max-width: 245px;
        width: 100%;
        height: 60px;
        
        background-color: blue;

        .we-main-logo-img {
          display: block;
          width: 100%;
        }
      }

      .we-account-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        cursor: pointer;

        .we-account-svg {
          display: block;

          path {
            transition: fill var(--hoverTransitionDuration) ease-in-out;
          }
        }

        &:hover {
          .we-account-svg {
            path {
              fill: var(--secondaryColor);
            }
          }
        }
      }

      .we-cart-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        cursor: pointer;

        .we-cart-svg {
          display: block;

          path {
            transition: fill var(--hoverTransitionDuration) ease-in-out;
          }
        }

        &:hover {
          .we-cart-svg {
            path {
              fill: var(--secondaryColor);
            }
          }
        }
      }
    }
  }

  .we-header-secondary {
    max-width: var(--container);
    width: 100%;
    margin: 0 auto;
    padding: 5px 25px 30px;

    .we-row {
      justify-content: space-between;
      align-items: center;

      .we-nav01-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0 25px;

        .we-nav-item {
          position: relative;
          width: max-content;
          cursor: pointer;

          .we-nav-item-label {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0 8px;
            padding: 12px 0;

            .we-nav-item-name {
              color: var(--primaryColor);
              font-family: var(--primaryFontFamily);
              font-style: normal;
              font-weight: 800;
              font-size: 16px;
              font-feature-settings: 'calt' off;
              text-transform: uppercase;
              text-align: center;
              line-height: 1.5em;
              letter-spacing: -0.01em;
              transition: color var(--hoverTransitionDuration) ease-in-out;
            }

            .we-nav-item-icon {
              display: block;
              rotate: 0deg;
              transition: rotate var(--clickTransitionDuration) ease-in-out;

              path {
                fill: var(--primaryColor);
                transition: fill var(--hoverTransitionDuration) ease-in-out;
              }
            }
          }

          &.--active,
          &:hover {
            .we-nav-item-label {
              .we-nav-item-name {
                color: var(--secondaryColor);
              }

              .we-nav-item-icon {
                path {
                  fill: var(--secondaryColor);
                }
              }
            }
          }

          &.--active {
            .we-nav-item-label {
              .we-nav-item-name {
                color: var(--secondaryColor);
              }

              .we-nav-item-icon {
                rotate: 180deg;

                path {
                  fill: var(--secondaryColor);
                }
              }
            }
          }
        }
      }

      .we-nav02-list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .we-nav-item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 10px 0;
          cursor: pointer;

          .we-nav-item-label {
            font-family: var(--primaryFontFamily);
            font-style: italic;
            font-weight: 800;
            font-size: 16px;            
            font-feature-settings: 'calt' off;
            text-align: center;
            text-transform: uppercase;
            line-height: 1.5em;
            letter-spacing: -0.01em;
          }

          .we-nav-item-icon {
            display: block;
            opacity: 0;
            margin: 0 0 0 -13px;
            transition:
              opacity var(--hoverTransitionDuration) ease-in-out,
              margin var(--hoverTransitionDuration) ease-in-out;
          }

          &:nth-child(1) {
            padding: 0 20px 0 0;

            .we-nav-item-label {
              color: var(--secondaryColor);
            }
          }

          &:nth-child(2) {
            padding: 0 0 0 20px;
            border-left: 1px dashed #86736A;

            .we-nav-item-label {
              color: #00529F
            }
          }

          &.active,
          &:hover {
            .we-nav-item-icon {
              opacity: 1;
              margin: 0 0 0 10px;
            }
          }
        }
      }
    }

    .we-nav-mega-menu-wrap {
      display: none;
      width: 100%;

      .we-nav-mega-menu-item {
        padding: 20px 0 0;

        .we-row {
          justify-content: space-between;
          align-items: flex-start;
          gap: 0 30px;

          .we-col {
            &:nth-child(1) {
              max-width: 200px;

              .main-category-list {
                display: flex;
                flex-direction: column;

                .main-category-item {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 7px 0;
                  cursor: pointer;

                  .category-name {
                    color: var(--primaryColor);
                    font-family: var(--secondaryFontFamily);
                    font-style: normal;
                    font-weight: 800;
                    font-size: 16px;
                    font-feature-settings: 'calt' off;
                    line-height: 1.5em;
                    letter-spacing: -0.01em;
                    transition: color var(--hoverTransitionDuration) ease-in-out;
                  }

                  .category-icon {
                    display: block;
                    
                    path {
                      fill: var(--primaryColor);
                      transition: fill var(--hoverTransitionDuration) ease-in-out;
                    }
                  }

                  &:hover {
                    .category-name {
                      color: var(--secondaryColor);
                    }

                    .category-icon {
                      path {
                        fill: var(--secondaryColor);
                      }
                    }
                  }

                  &.--active-main-category {
                    .category-name {
                      color: var(--secondaryColor);
                    }

                    .category-icon {
                      path {
                        fill: var(--secondaryColor);
                      }
                    }
                  }
                }
              } 
            }

            &:nth-child(2) {
              .sub-category-list {
                display: inline-block;
                column-count: auto;
                column-width: 200px;
                column-gap: 0;
                height: 190px;

                .sub-category-item {
                  color: var(--primaryColor);
                  font-family: var(--secondaryFontFamily);
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  font-feature-settings: 'calt' off;
                  line-height: 24px;
                  letter-spacing: -0.01em;
                  width: 200px;
                  padding: 7px 0;
                  cursor: pointer;
                  
                  &:hover {
                    color: var(--secondaryColor);
                  }
                }
              }
            }
          }
        }
      }

      &.--show {
        display: block;
      }
    }
  }
}