<app-header
  *ngIf="type === 'header'"
  [headerlogos]="headerlogos"
  [headernav1]="headernav1"
  [headernav2]="headernav2"
  [contactdetails]="contactdetails">
</app-header>

<app-footer
  *ngIf="type === 'footer'"
  [footermenulist]="footermenu1"
  [contactdetails]="contactdetails"
  [socialmedialist]="socialmedialist"
  [copyrightyear]="copyrightyear"
  [policylist]="policylist"
  [disclaimertext]="disclaimertext">
</app-footer>

<app-featured-products
  *ngIf="type === 'featured-products'">
</app-featured-products>
