.featured-product-wrap {
  max-width: 345px;
  min-width: 345px;
  width: 100%;

  .featured-product-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;

    .featured-product-item {
      position: relative;
      top: 0;
      background-color: var(--whiteColor);
      box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.05);
      width: 100%;
      padding: 23px 18px;
      border: 1px solid #E0E0E0;
      cursor: pointer;
      transition:
        top var(--hoverTransitionDuration) ease-in-out 0ms;

      .product-discount {
        color: var(--whiteColor);
        font-family: var(--secondaryFontFamily);
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 1em;
        letter-spacing: -0.12px;
        position: absolute;
        top: 16px;
        left: 0;
        display: block;
        background-color: #00529F;
        width: max-content;
        padding: 6px 12px;
      }

      .we-row {
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .we-col {
          &:nth-child(1) {
            max-width: 115px;
            min-width: 115px;
            height: 115px;

            .product-img {
              object-position: center;
              object-fit: contain;
              width: 100%;
              height: 100%;
            }

            .we-svg-placeholder-img {
              width: 100%;
              height: 100%;
            }
          }

          &:nth-child(2) {
            .product-title {
              color: #1B1B1B;
              font-family: var(--secondaryFontFamily);
              font-size: 16px;
              font-style: normal;
              font-weight: 900;
              line-height: 1.25em;
              letter-spacing: -0.16px;
              max-height: calc(1.25em * 2);
              min-height: calc(1.25em * 1);
              height: auto;
              overflow: hidden;
              margin: 0 0 9px;
              transition:
                color var(--hoverTransitionDuration) ease-in-out 0ms;
            }

            .product-type {
              color: #4C5157;
              font-family: var(--primaryFontFamily);
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 1.25em;
              letter-spacing: -0.14px;
              height: calc(1.25em * 1);
              overflow: hidden;
              margin: 0 0 11px;
            }

            .we-inner-row {
              justify-content: flex-start;
              align-items: center;
              gap: 6px;

              .product-current-price {
                color: #00529F;
                font-family: var(--secondaryFontFamily);
                font-size: 20px;
                font-style: normal;
                font-weight: 900;
                line-height: 1.2em;
                letter-spacing: -0.2px;
              }

              .product-before-price {
                color: rgba(76, 81, 87, 0.60);
                font-family: var(--secondaryFontFamily);
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                text-decoration: line-through;
                line-height: 1.2em;
                letter-spacing: -0.13px;
              }
            }
          }
        }
      }

      &:hover {
        top: -10px;

        .we-row {
          .we-col {
            &:nth-child(2) {
              .product-title {
                color: var(--secondaryColor);
              }
            }
          }
        }
      }
    }
  }
}
